@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

body{
    background: #040818;
    font-family: 'IBM Plex Sans', sans-serif;
}

p{
    color: #8694B9;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.section-heading{
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; /* 150% */
    margin-bottom: 50px
}

.home-main section {
    padding: 100px 0;
    background: #040818;
}

.home-main .hero{
    background: url(./Img/home/hero-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-highlight{
    color: #04CEE4;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23.5px; /* 130.556% */
    letter-spacing: 2px;
}

.hero-heading{
    color: #FFF;
    font-family: Manrope;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 88px; /* 110% */
}

.hero-para{
    color: #7D83AF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}

.hero-btn{
    border-radius: 12px;
    background: linear-gradient(90deg, #00D3E2 0%, #27A2F8 100%);
    padding: 10px 20px;
    font-weight: 600;
}

/* Tokenomics Section */

.tokenomic-item{
    border: 1px solid #fff;
    text-align: center;
}

.tokenomic-image{
    width: 100%;
    padding: 2em;
    background: rgb(6,2,25);
    background: linear-gradient(180deg, rgba(6,2,25,1) 17%, rgba(147,39,141,1) 88%);
}

/* About Section */

.about-heading{
    color: #FFF;
    font-family: IBM Plex Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px; /* 130% */
}

.about-para{
    color: #8694B9;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 80%;
}

/* Features Section */

.home-main .features-main{
    background: #040818;
    padding: 0;
}

.features-main .features{
    background: url(./Img/home/feature/feature-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.feature-wrapper{
    margin-left: -50px;
}

.feature-image{
    position: absolute;
    right: -100px;
    top: -20px;
    height: 850px;
}

.feature-card{
    min-height: 300px;
}

.feature-heading{
    color: #FFF;
    font-family: IBM Plex Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px; /* 130% */
    letter-spacing: -1px;
}

.feature-para{
    color: #8694B9;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

/* Swap Page */

.Uniswap{
    height: 100vh;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

.swap-wrap {
    position: relative;
    width: 30vw;
    height: 360px;
    text-align: center;
    color: #252B37;
    border-radius: 15px;
  }
  
  /* .swap-wrap:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .swap-wrap:hover:before, .swap-wrap:hover:after {
    animation: none;
    opacity: 0;
  }
   */
  
  .swap-wrap::before {
    content: "";
    width: 102%;
    height: 102%;
    border-radius: 20px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #0054c2);
      position: absolute;
      z-index: -1;
      top: -2%;
      left: -1%;
      animation: spin 15s linear infinite;
  }
  
  .swap-wrap::after {
    position: absolute;
    content: "";
    top: calc(360px / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(360px / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #0054c2);
      opacity: 1;
    transition: opacity 1s;
    animation: spin 15s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
/* Trade Page */

.trade-main{
    background: #0F1529;
}

.trade-input{
    background: #090E20;
    padding: 0.5em;
}

.trade-input p {
    background: transparent;
    font-size: 25px;
}

.trade-input input {
    background: transparent;
    /* font-size: 25px; */
    border: unset;
    outline: unset;
}

.range {
    --ticksThickness: 2px;
    --ticksHeight: 30%;
    --ticksColor: silver;
    
    display: inline-block;
    background: silver;
    background: linear-gradient(to right, var(--ticksColor) var(--ticksThickness), transparent 1px) repeat-x;
    background-size: calc(100%/((var(--max) - var(--min)) / var(--step)) - .1%) var(--ticksHeight);
    background-position: 0 bottom;
    position: relative;
  }
  
  
  /* min / max labels at the edges */
  .range::before, .range::after {
    font: 12px monospace;
    content: counter(x);
    position: absolute;
    bottom: -2ch;
    color: #fff;
  }
  
  .range::before {
    counter-reset: x var(--min);
    transform: translateX(-50%);
  }
  
  .range::after {
    counter-reset: x var(--max);
    right: 0;
    transform: translateX(50%);
  }
  
  
  .range > input {
    width: 300px;
    margin: 0 -6px; /* Critical adjustment */
  }

  .range-input{
      background: transparent;
      width: 50px;
      border: unset;
      outline: unset;
      color: #fff;
  }